* {
   margin: 0;
   padding: 0;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 3840px;
   height: 85px;
   background: #FFFFFF;
   box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.08);
}

header>div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.leftNavigation {
   margin-left: 1122px;
}

.rigthNavigation {
   margin-right: 1080px;
}

.logo {
   margin-right: 50px;
   width: 231px;
   height: 34.89px;
}

.leftNavigation>button {
   margin-right: 49px;

}

.rigthNavigation>button {
   margin-right: 49px;
}

button,
select {
   height: 18px;
   border: none;
   background-color: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Graphik LCG';
   font-size: 18px;
}

.b4 {
   font-size: 14px;
   color: #3A85F4;
   border: 1px solid #3A85F4;
   border-radius: 123px;
   padding: 12px 33px 10px 34px;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 3840px;
   margin: 80px 0 0 0;
   font-family: 'Roboto';
}

.title {
   display: flex;
   flex-direction: column;
}

.title>h1 {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   color: #383838;

}

.title>p {
   font-style: normal;
   font-size: 20px;
   color: #383838;
}

.cardList {
   display: flex;
   justify-content: space-between;
   gap: 100px 78px;
   flex-wrap: wrap;
   width: 1595px;
   /* background-color: aqua; */
   margin: 70px 0 60px 0;
   color: #2F2F2F;

}

.cardList>div {
   width: 256px;
   height: 548px;
   /* background-color: blue; */

}

h1 {
   font-size: 50px;
   color: #383838;
}

h2 {
   margin-top: 32px;
   font-size: 24px;
}

.data {
   display: flex;
   flex-direction: column;
   gap: 7px;
   margin: 17px 0;

}

.data>div {
   display: flex;
   align-items: center;
   gap: 9px;

}

.data>div>p {
   margin: 0;
   font-size: 16px;
}

.cardList>div>p {
   font-size: 18px;
   line-height: 28px;
   letter-spacing: -0.4px;
}

.showMore {
   width: 239px;
   height: 50px;
   color: #3A85F4;
   font-size: 16px;
   border: 1px solid #3A85F4;
   border-radius: 30px;
   line-height: 19px;
   text-transform: uppercase;
}

.gradient {
   width: 3840px;
   height: 49px;
   left: 0px;
   top: 1699px;
   margin-top: 70px;
   background: linear-gradient(180deg, rgba(204, 231, 255, 0) 0%, rgba(83, 108, 131, 0.256) 100%);
}

footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 3840px;
   height: 211px;
   background: #262628;
   font-family: Roboto;
}

.topFooter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1595px;
   height: 104px;
   color: #E4E4E4;
}

.community {
   display: flex;
   justify-content: space-between;
   width: 128px;
   gap: 20px;
}

.links {
   display: flex;
   align-items: center;
   justify-content: start;
   width: 40%;
   gap: 75px;
   font-size: 16px;

}

.links>a:first-child {
   color: #FFFFFF;
   font-size: 16px;
   font-size: 20px;
}

hr {
   width: 1595px;
   border: none solid #888888;
}

.bottomFooter {
   display: flex;
   justify-content: space-between;
   width: 1595px;
   color: #888888;
}

.bottomFooterLeft {
   width: 30%;
   margin-top: 12px;
   font-size: 16px;
}

.bottomFooterRight {
   display: flex;
   flex-direction: column;
   width: 70%;
}

.bottomFooterRight>div {
   display: flex;
   justify-content: end;
   gap: 50px;
   margin-top: 20px;
   font-size: 14px;
}

/* footer>div {
   display: flex;
   align-items: center;
   justify-content: center;
   
} */























@media screen and (max-width: 1024px){
   .b1,.b2,.b3 {display: none;}
}







@font-face {
   font-family: "Graphik LCG";
   src: url(fonts/GraphikLCG/GraphikLCG-Regular.woff2);
}

@font-face {
   font-family: "Roboto";
   src: url(fonts/Roboto/Roboto-Medium.ttf);
}